@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Bowlby+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


.bookPage {
	padding: 50px 30px;
	height: 100%; min-height: calc(100vh - 50px);
	text-align: center;
	background-color: #ced6e0;

	h1 {
		margin-bottom: 30px;
		font-size: 38px;
	}
	ul {
		display: flex; flex-wrap: wrap;
		justify-content: center; align-items: center; gap: 20px;
		
		li {
			padding: 10px 10px 20px;
			background-color: #fff;

			img {
				width: 300px; height: 450px;
				border: 1px solid #ddd;
			}
			p {
				font-family: "Atma", system-ui;
			}
			a {
				display: inline-block;
				padding: 10px; margin-top: 20px;
				border: 2px double #2f3542;
				transition: all .2s ease-out;
				&:hover {
					color: #fff;
					border: 2px solid #84817a;
					background-color: #84817a;
				}
			}
		}
	}
	.title {
		margin-top: 10px;
		font-size: 18px; font-weight: 500;
	}
	.author {
		font-size: 16px;
	}
}